
@{
    ViewBag.Title = "AddEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Eğitim Ekleme Sayfası</h2>
<form method="post">
    <label>Eğitim başlığı</label>
    <input type="text" class="form-control" name="EducationTitle" required />
    <br />
    <label>Eğitim Süresi</label>
    <input type="text" class="form-control" name="EduationDate" required />
    <br />
    <label>Detay</label>
    <input type="text" class="form-control" name="EducationDescription" required />
    <br />
    <button class="btn btn-info">Eğitim Ekle</button>

</form>
