<section id="services-1" class="bg-light py-5">
    <div class="container py-lg-3">
        <div class="heading text-center mx-auto">
            <h3 class="head">Welcome To My Site</h3>
            <p class="my-3 head">
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                Nulla mollis dapibus nunc, ut rhoncus
                turpis sodales quis. Integer sit amet mattis quam.Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mollis dapibus nunc
            </p>

        </div>
        <div class="row mt-lg-5">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-briefcase"></span>
                    </div>
                    <h4><a href="services.html">Want An Expert</a></h4>
                    <p>
                        Lorem ipsum dolor sit amet sed consectetur adipisicing elit.
                        doloret quas saepe autem, dolor set.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-shield"></span>
                    </div>
                    <h4><a href="services.html">Unlimited Revisions</a></h4>
                    <p>
                        Lorem ipsum dolor sit amet sed consectetur adipisicing elit.
                        doloret quas saepe autem, dolor set.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="icon">
                        <span class="fa fa-dollar"></span>
                    </div>
                    <h4><a href="services.html">Let's Discuss</a></h4>
                    <p>
                        Lorem ipsum dolor sit amet sed consectetur adipisicing elit.
                        doloret quas saepe autem, dolor set.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
